@import "tailwindcss";
@font-face {
  font-family: 'Poppins-Black.ttf';
  src: url('/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 600;
}


@theme {
  --color-primary: #009689;  
  --color-secondary: #141414; 
  --color-bgGray:#242323;
  --color-accent: #ffffff;
  --color-hover: #00786f;
  --color-hoverSecondary:#0096896f;
  --color-muted: #777777;
  --text-secondary: #a3a3a3;
  --color-border: #e5e7eb;    
}

[data-theme="red"] {
  --color-primary: #e50914;  
  --color-secondary: #000000;
    --color-bgGray:#242323;
  --color-accent: #ffffff;
   --color-hover: #c10007;
    --color-hoverSecondary:#e5091467;
  --color-muted: #777777;
  --text-secondary: #a3a3a3;
  --color-border: #a3a3a3;
}

[data-theme="yellow"] {
  --color-primary: #f0b100;  
  --color-secondary: #000000;
    --color-bgGray:#242323;
  --color-accent: #ffffff;
   --color-hover: #d08700;
    --color-hoverSecondary:#d087008d;
  --color-muted: #777777;
  --text-secondary: #a3a3a3;
  --color-border: #a3a3a3;
}
